<div class="mat-elevation-z8">
  <form class="example-form" #articleForm="ngForm">
    <mat-form-field class="search-name">
      <mat-label>Recherche par nom d'article</mat-label>
      <input
        required
        matInput
        placeholder="Leffe Triple"
        [(ngModel)]="nameArticle"
        name="articleName"
        #searchInput
      />
      <mat-error>
        Le nom de l'article est requis.
      </mat-error>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="getArticleByName()" [disabled]="articleForm.invalid">
      Rechercher
    </button>
    <button mat-flat-button color="primary" (click)="getAllArticles()">
      Réinitialiser
    </button>
  </form>

  <mat-form-field class="filter">
    <mat-label>Filtre</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Blonde" #filterInput>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort>
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="nomArticle">
        Nom
      </th>
      <td mat-cell *matCellDef="let element">{{ element.nomArticle }}</td>
    </ng-container>

    <ng-container matColumnDef="prixAchat">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="prixAchat">
        prix achat
      </th>
      <td mat-cell *matCellDef="let element">{{ element.prixAchat }}</td>
    </ng-container>

    <ng-container matColumnDef="volume">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="volume">volume</th>
      <td mat-cell *matCellDef="let element">{{ element.volume }}</td>
    </ng-container>

    <ng-container matColumnDef="titrage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="titrage">
        titrage
      </th>
      <td mat-cell *matCellDef="let element">{{ element.titrage }}</td>
    </ng-container>

    <ng-container matColumnDef="marque">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="nomMarque">
        marque
      </th>
      <td mat-cell *matCellDef="let element">
        {{
          element.idMarque?.nomMarque ? element.idMarque.nomMarque : "Aucune"
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="couleur">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="nomCouleur">
        couleur
      </th>
      <td mat-cell *matCellDef="let element">
        {{
          element.idCouleur?.nomCouleur
            ? element.idCouleur.nomCouleur
            : "Aucune"
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="vente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="ventes">
        voir les ventes
      </th>
      <td mat-cell *matCellDef="let element" class="ventes">
        <mat-icon class="vente-icon" (click)="redirectToVente(element.nomArticle)">view_list</mat-icon>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns"
      class="hide-arrow"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">Aucun article trouvé.</td>
  </tr>
  </table>

<mat-paginator [hidePageSize]="true" showFirstLastButtons> </mat-paginator>

</div>
